
body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  margin-top: 0;
  line-height: 1.5;
  font-color: #1e1c1c;
  font-family: 'Raleway', sans-serif;
  font-weight: light 300px;
  background-color: #efefef;
}

a
{
    color: #1e1c1c;
}

a:hover
{
    color: gray;
    text-decoration: none;
}

h1{
  font-family: 'Abril Fatface', cursive;
  letter-spacing: .60em;
  text-align:center;
}

.carousel-text {

}

nav li {
  font-color: light gray;

}

ul {
  list-style-type: none;
}

p {
  padding-bottom: 40px;
  text-align: center;
  font-size: 250%;
  color: #12123a;;
}

hr {
  border-top: 1px solid grey;
}

#bio {
  padding-left:0;
  margin-left:0;
  padding-bottom:20px;
}

#hide {
  visibility: hidden;
}

.container {
padding: 20px 20px;
opacity:0;

}

.nav{
  padding-top:0;
  margin-top: 0;
}
.navbar-brand {
  font-family:'Abril Fatface', cursive;
  color: #12123a;
}

.nav navbar-nav {
  font-family: 'Raleway', sans-serif;
  font-weight: light 300;
  color: #1e1c1c;
  border-style:none;
}

.linkedinWrapper {
  margin: 12px 0 0;
  display:block;
}

.linkedinWrapper > a {
  padding:10px 8px 10px 15px;
}

.githubWrapper {
  margin: 14px 0 0;
  display:block;
}

.githubWrapper > a {
  padding:20px 8px 10px 15px;
}



.avatar {

margin-bottom: 20px;
}

.about-me{
  padding:30px 70px;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0, 0.5)), url('../images/bird.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 40px;
}

.about-me h1 {
  /*color: #ffff99;*/
  color: rgb(252, 217, 201);
}

.about-me img {
  border-radius: 15px;
}

.about-me-text {
  border-radius:15px;
  /*background-color: #0e0e25;*/
  /*background-color: #1e1c1c;*/
  background-color: rgba(14,14,37, .90);
  margin-top: 40px;
  padding: 20px;
  color: white;
  font-size: 125%;
  line-height: 2;
  letter-spacing: 1.75px;
}

.about-me-text a {
  color:#99ffce;
}

.about-me-text a:hover {
  color:gray;
}

.biopic-wrapper {
  text-align: center;
}

.line {
  padding-top: 10px;
  color: #000;
}

.skills {
  padding: 10px;
}

.footer {
  text-align: center;
  display: block;
  font-family:'Abril Fatface', cursive;
  font-weight: lighter;
  font-size: 9px;
  color: silver;
  padding: 10px;
}

.thumbnail{
  max-width: 200px;
  max-height: 100px;
  align-items: inline;

}

.thumbnail-div{
    margin-right: 70px;
  }


@media (min-width:500px){
  button{
  float: center;
  margin: 20px auto 0;
  width: 480px;
  }
}


dl#simple-gallery {
  position: relative;
  background: #D3D3D3;
  font-size: 0;
  padding: 3rem;
  padding-bottom: 8rem;
}
dl#simple-gallery dt{
  width: 10%;
  min-width: 50px;
  cursor: pointer;
}
dl#simple-gallery dt img {
  width: 100%;
  height: auto;

}
dl#simple-gallery dt:hover+dd, dl#simple-gallery dt:focus+dd {
  opacity:1;
}
dl#simple-gallery dd {
  position: absolute;
  top: 10%;
  left: 30%;
  bottom: 50%;
  opacity: 0;
  transition: .7s opacity;
  text-align: center;
  font-size: 1.4rem;
  /*font-style: italic;*/
  color: black;
  padding-left: 0;
  width: 40%;
  max-height: 300px;
}
dl#simple-gallery dd img{
  width: 100%;
  height: auto;
  box-shadow:0 0 8px rgba(0,0,0,0.3);
  display:block;
  margin-bottom: 1rem;
}
