@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
body {
  font: normal normal 300 1em/1.2 Raleway;
  background: #efefef;
  text-rendering: optimizeLegibility;
}


.wrapper {
  width: 1080px;
  text-align: center;
}

#below ul {
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

a.portfolio {
  text-decoration: none;
  display: block;
  height: 100%;
}

hr {
  width: 1050px;
  margin: 20px auto;
  opacity: .2;
}

svg {
  fill: #efefef;
}

.svg-wrap {
  display: none;
}

.wrapper {
  margin: 10px auto;
}

.codeby a {
  display: inline
}

.tmb-list li {
  width: 245px;
  height: 245px;
  margin: 12px;
  float: left;
  position: relative;
  overflow: hidden;
}

span.portfolio {
  display: block;
}

span.info {
  color: #fff;
  height: 175px;
  background: rgba(8, 35, 50, 0.75);
  font-size: .6em;
  padding: 14px;

  text-align: left;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition: transform .4s ease, opacity .3s ease;
  -o-transition: transform .4s ease, opacity .3s ease;
  transition: transform .4s ease, opacity .3s ease;
}

span.info strong {
  font-size: 1em;
  display: block;
  color: #c7c370;
  font-weight: 400;
}

/* SAMPLE 3 */

/*h2:nth-child(10) {
  color: #f80037;
}*/

.pic1 {
background-image: url(../images/avatar.jpg);
}

#below3 li {
  /*background: #FF4C74;*/
  background-image: url(/images/avatar.jpg);
}

#below3 svg {
  margin-top: 15px;
  transition: transform .4s ease, opacity .3s ease;
}

#below3 span.info {
  bottom: 0;
  background: rgba(77, 0, 16, 0.8);
  transform: translateY(70px);
}

#below3 a.portfolio:hover span.info {
  bottom: 0;
  opacity: 1;
  transform: translateY(0);
}

#below3 a.portfolio:hover svg {
  transform: scale(1.3);
}
